{% extends "accounts/base.html" %}


<title>{% block title %}Charts{% endblock %}</title>

{% block content %}
    <div class="container">

        {% if chart %}
            {{ chart | safe }}
        {% endif %}

    </div>
        <div class="charts-companies">
            {% if charts_for_company %}
                {% for chart_for_company in charts_for_company %}
                    <span class="chart-com"> {{ chart_for_company | safe }} </span>
                {% endfor %}
            {% endif %}
        </div>
{% endblock content %}