{% extends "accounts/base.html" %}
{% load static %}
{% load query_parameters %}
{% load tz %}

<title>{% block title %}Dashboard{% endblock %}</title>

{% block content %}
    <div class="container">
        <h2 style="text-align: center;">Statistics</h2>
        <div class="dash-buttons">
            <a href={% url 'charts' %} class="btn btn-primary btn-lg btn-view">View graphical statistics</a>
        </div>
        <div class="dash-buttons">
            <a href={% url 'export-all-stats' %} class="btn btn-secondary btn-lg btn-stat">Export Statistics</a>
            <a href={% url 'delete-stats' %} class="btn btn-danger btn-lg btn-stat {{ disable }}">Delete Statistics</a>
        </div>
        <div class="dashboard">
            {% for employee in employees %}
                <div class="card employee-card bg-light"> 
                {% comment %} row no-gutters bg-light position-relative {% endcomment %}
                    <div class="card-body">
                        <h5 class="card-title">{{ employee.first_name }}&nbsp{{ employee.last_name }}</h5>
                        <p class="card-text">{{ employee.company }}</p>
                        <p>
                        {% for stat in stats %}
                            {% if stat.employee_id == employee.id %}
                                {% timezone 'Europe/Sofia' %}
                                    <p><strong>Violations:</strong> {{ stat.all_violations }}</p>
                                    <p><strong>Last seen without mask:</strong> <br />{{ stat.last_seen_without_mask }}</p>
                                {% endtimezone %}
                                <a href="/stats?{% set_query_parameters employee_id=stat.employee.id %}" class="btn btn-secondary">Export CSV</a>
                            {% endif %}
                        {% endfor %}
                        <a href="/profile/employee?{% set_query_parameters employee_id=employee.id %}" class="btn btn-primary">Profile</a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

