{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% load query_parameters %}
{% load static %}
{% load tz %}

<title>{% block title %}{{ employee.first_name }} {{employee.last_name}} - Profile{% endblock %}</title>

{% block content %}
<div class="container">
    <div class="card text-center profile-page">
        <div class="card-header">
            {{ employee.first_name }} {{employee.last_name}} - Profile Page
        </div>
        <div class="card-body">
            {% if employee.profile_pic %}
                <img src="{{ employee.profile_pic.url }}" class="card-img-top profile_pic" alt="Profile Picture">
            {% else %}
                <img src="{% static 'accounts/account.jpg' %}" class="card-img-top profile_pic" alt="Profile Picture">
            {% endif %}
            <h5 class="card-title">{{ employee.first_name }}&nbsp;{{ employee.last_name }}</h5>
            <p class="card-text">Works for {{ employee.company }}</p>
            {% if last_seen_without_mask %}
                {% timezone 'Europe/Sofia' %}
                    <p><strong>Last seen without mask: </strong>{{ last_seen_without_mask }}</p>
                {% endtimezone %}
            {% endif %}
            {% if violations %}
                <a href="/stats?{% set_query_parameters employee_id=employee.id %}" class="btn btn-secondary btn-lg">Export CSV</a>
                <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#collapseExample" role="button">
                    Check all violations 
                    {% if stat %}
                        <span class="badge badge-light">{{ stat.all_violations }}</span>                    
                    {% endif %}
                </a>
                <div class="collapse" id="collapseExample">
                    <hr>
                    {% for v in violations %}
                        {% timezone 'Europe/Sofia' %}
                            <p style="font-size: 20px;">{{ v.violation_date }}</p>
                        {% endtimezone %}
                    {% endfor %}
                </div>

            {% else %}
            <hr>
                <p style="font-size: 1.5em; padding-top: 15px;"> There are no statistics for this user yet.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}