{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
    <section class="showcase">
        <header>
            <h2 class="logo">Mask Detector</h2>
            <div class="toggle"></div>
        </header>

        <video src="{% static 'accounts/office-work.mp4' %}" muted loop autoplay></video>

        <div class="text">
            <h2>Work safely</h2>
            <p>The Mask Detector will help you and your company overcome the crisis and work safely together again.</p>
            
            {% if user.is_authenticated == False %}
                <a href="{% url 'register' %}">Get Started</a>
            {% else %}
                {% if user.is_staff %}
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                {% endif %}
                <a href="{% url 'profile' %}">My Profile</a>
            {% endif %}

        </div>

    </section>
    
    <div class="menu">
        <ul>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                {% endif %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>

{% endblock content %}